
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@{ 
    var grafik = new Chart(width:500,height:500);
    grafik.AddTitle(text: "Kategoriler ve Ürün Sayıları");
    grafik.AddLegend(title: "Değerler");
    grafik.AddSeries(
        name: "Veriler",
        chartType:"doughnut",//pie, doughnut, area, bubble, bar
        xValue: new[] { "Beyaz Eşya", "Televizyon", "Bilgisayar", "Telefon" },
        yValues: new[] { 340, 150, 230, 460 }
        );
    grafik.Write();
}